Repository Japanese-IT-Terms-suggestion-for-U/project_JITSU_django-deployment-repo, pull requests merged in 2023-07, with the labels that each got.

#1 🎉 init : Init project
  project_JITSU_django_deployment_repo/manage.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/__init__.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/asgi.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/settings.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/urls.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/wsgi.py
Labels: ⚙ Setting

#2 ✨ feat : Implement model
  project_JITSU_django_deployment_repo/.gitignore
  project_JITSU_django_deployment_repo/db.sqlite3
  project_JITSU_django_deployment_repo/manage.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/.env.example
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/.gitignore
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/__init__.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/asgi.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/model.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/settings.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/urls.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/views.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/wsgi.py
Labels: ✨ Feature

#3 DB model(migrated) and Crawling function
  project_JITSU_django_deployment_repo/.gitignore
  project_JITSU_django_deployment_repo/db.sqlite3
  project_JITSU_django_deployment_repo/manage.py
  project_JITSU_django_deployment_repo/mysite/__init__.py
  project_JITSU_django_deployment_repo/mysite/__pycache__/__init__.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/__pycache__/admin.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/__pycache__/apps.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/__pycache__/models.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/admin.py
  project_JITSU_django_deployment_repo/mysite/apps.py
  project_JITSU_django_deployment_repo/mysite/migrations/0001_initial.py
  project_JITSU_django_deployment_repo/mysite/migrations/__init__.py
  project_JITSU_django_deployment_repo/mysite/migrations/__pycache__/0001_initial.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/migrations/__pycache__/__init__.cpython-39.pyc
  project_JITSU_django_deployment_repo/mysite/models.py
  project_JITSU_django_deployment_repo/mysite/tests.py
  project_JITSU_django_deployment_repo/mysite/views.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/.env.example
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/.gitignore
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/model.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/settings.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/urls.py
  project_JITSU_django_deployment_repo/project_JITSU_django_deployment_repo/views.py
Labels: ✨ Feature, ⚙ Setting
